.auth-card {
  position: fixed;
  top: 5rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 1.2rem;
  z-index: 25;
}
.auth-card .auth-main {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.auth-card .auth-main .auth-text {
  margin-left: 15px;
}
.cancel-icon {
  width: 100%;
  position: relative;
  height: 23px;
}
.cancel-icon button {
  position: absolute;
  right: 0;
  background-color: rgb(246, 95, 7);
  border: none;
  border-radius: 50%;
  height: 34px;
  width: 34px;
}
