.main-nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #ff9d00;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
