.main-nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 35px;
  justify-content: center;
  align-items: center;
}

.main-nav__list-item {
  padding: 10px;
  /* height: 100%;
  width: 100%; */
  margin: 0;
}
li.main-nav__list-item.add {
  background-color: rgb(199, 86, 20);
  color: black;
  border-radius: 50%;
  height: 2rem;
  text-align: center;
  /* font-size: 2.3rem; */
  margin-top: 0.2rem;

  width: 2rem;
  margin-right: 25px;
  cursor: pointer;
  padding: 0;
}
li.main-nav__list-item.add a {
  margin: 0;
  font-size: 1.3rem;
}

.main-nav__list-item:active,
.main-nav__list-item:hover,
li.main-nav__list-item.add:hover {
  background-color: rgb(116, 101, 101);
  color: white;
}
a {
  text-decoration: none;
  color: aliceblue;
  width: 100%;
  cursor: pointer;
}

.avatar {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-right: 0.4rem;
  border-radius: 50%;
}
.user-avatar img {
  width: 100%;
  border-radius: 50%;
}
