.owner-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: wheat;
}
.owner {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 0.5rem;
  width: 45%;
}
.owner .owner-name {
  margin-left: 0.4rem;
  color: antiquewhite;
}

.owner .owner-name:hover {
  text-decoration: underline;
}

.likes {
  display: flex;
  flex-direction: row;
}

.likes-icon {
  width: 45px;
  height: 45px;
  background-color: antiquewhite;
  margin-right: 0.3rem;
}
