.search-container {
  background-color: black;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(245, 136, 11);
}

.search-container > .search-section > input {
  background-color: rgb(71, 62, 45);
  padding: 0.8rem;
  color: rgb(240, 157, 4);
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 35px;
  width: 100%;
}

.search-section {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.2rem;
  width: 100%;
}
.search-section svg {
  position: absolute;
  margin-left: 15px;
}
